/* Default: Mobile (centered) */
/* .profile-container {
    margin-left: 120px !important;
} */
  
  /* Tablet screens (>=720px) */
  /* @media (min-width: 720px) {
    .profile-container {
      margin-left: 120px !important;
    }
  } */
  
  /* Desktop screens (>=1024px) */
  /* @media (min-width: 1024px) {
    .profile-container {
      margin-left: 360% !important;
    }
  }
   */

